{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "dashboard/style.css" %}">
    <title>Impfterminübersicht Rhein-Neckar</title>
</head>
<body>
    <div id="Kopfzeile"><h1>
        {% block titel %}<a href="{% url 'dashboard:startseite' %}">Impfterminübersicht Rhein-Neckar</a>{% endblock %}
    </h1></div>
    <div id="Inhalt">
        {% block Inhalt %}
        {% endblock %}
    </div>
    <div id="Fußzeile">
        <ul>
            <li><a href="{% url 'dashboard:impressum_und_datenschutz' %}">Impressum, Datenschutz und Lizenzen</a></li>
        </ul>
    </div>
</body>
</html>
