{% extends "dashboard/basis.html" %}

{% block titel %}{{ block.super }} - Startseite{% endblock %}

{% block Inhalt %}

    <h2>Impressum</h2>

    <address>
    {{ postadresse | linebreaks }}
    </address>

    <h3>Elektronische Kontaktadresse</h3>
    <address>{{ email }}</address>
    <p>Bitte signieren und verschlüsseln Sie die Kommunikation!</p>

    <h2>Datenschutz</h2>
    <p>
    Zur Fehlersuche und Gefahrenabwehr werden die Zugriffe mit den IP-Adressen der Zugreifenden protokolliert.
    Ansonsten werden keine Benutzerdaten erhoben.
    </p>
    <p>
    Verantwortlich:
    </p>
    <address>
    {{ postadresse | linebreaksbr }}
    </address>
    <address>
    Email: {{ email }}
    </address>

    <h2>Lizenzen</h2>
    <p>
    Die Software welche diese Übersicht generiert unterliegt der GNU Affero General Public License 3 oder später.
    Der komplette Lizenztext kann unter <a href="https://www.gnu.org/licenses/agpl-3.0.html">https://www.gnu.org/licenses/agpl-3.0.html</a> eingesehen werden.
    Der Quelltext der Software ist auf <a href="https://codeberg.org/Marix/rnkizw">https://codeberg.org/Marix/rnkizw</a> zu finden.
    </p>
{% endblock %}
