{% extends "dashboard/basis.html" %}

{% block titel %}{{ block.super }} - Startseite{% endblock %}

{% block Inhalt %}

<p>
Die Tabelle zeigt die Anzahl der, zum Zeitpunkt der letzten Aktualisierung, auf <a href="https://c19.rhein-neckar-kreis.de/impftermin">der Impfterminbuchungsseite des Rhein-Neckar-Kreises</a> verfügbaren Terminslots für Impfungen mit den jeweiligen Impfstoffen.
Diese Tabelle ist <em>kein</em> Angebot des Rhein-Neckar-Kreises, sondern eine private Initiative.
<p>

<table>
    <tr>
        <th>Impfzentrum</th>
        {% for impfstoff in impfstoffe %}
            <th>{{ impfstoff }}</th>
        {% endfor %}
        <th>Letzte Aktualisierung</th>
    </tr>
    {% for zeile in zeilen %}
        <tr class="{{ zeile.status }}">
            <td class="zeilentitel">
                {{ zeile.impfzentrum }}
            </td>
            {% for menge in zeile.mengen %}
                <td class="menge">
                    {{ menge }}
                </td>
            {% endfor %}
            <td class="aktualisierung">{{ zeile.aktualisiert }}</td>
        </tr>
    {% endfor %}
</table>

<p>
Termine können auf der Seite <a href="https://c19.rhein-neckar-kreis.de/impftermin">https://c19.rhein-neckar-kreis.de/impftermin</a> des Rhein-Neckar-Kreises gebucht werden.
</p>
<p>
Die Anzahl der verfügbaren Termine kann sich seit der letzten Aktualisierung geändert haben.<br>
Der gleiche Termin kann für mehrere Impfstoffe angeboten werden kann.
Deshalb heißen je fünf verfügbare Termine in einem Zentrum nicht, dass 15 Termine verfügbar sind.
Es muss auch nicht heißen, dass fünf Termine mit einem bestimmten Impfstoff gebucht werden können.
Es heißt lediglich, dass für jeden der Impfstoffe, fünf buchbare Slots verfügbar sind.
</p>

{% endblock %}
