* {
    color: black;
}

h1 a {
    color: black;
    text-decoration: none;
}

table, th, td {
    border: thin solid;
    border-collapse: collapse;
    padding-left: 1em;
    padding-right: 1em;
}

th {
    font-weight: bold;
    text-align: center;
}

td.menge {
    text-align: right;
}

td.aktualisierung {
    text-align: right;
}

tr.freie_termine {
    background-color: lightgreen;
    font-weight: bolder;
}
tr.wenige_termine {
    background-color: lightyellow;
}
tr.keine_termine {
    background-color: lightcoral;
}

#Fußzeile ul {
    list-style: none;
    float: right;
}

#Fußzeile li {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
}
